@use '../../styles/_variables.scss' as vars;

button {
    padding: vars.$space-15 vars.$space-20;
    border-radius: vars.$space-25;
    cursor: pointer;
    background-color: vars.$color-primary;
    color: vars.$color-white;
    transition: background-color 0.3s;
    font: {
        weight: vars.$font-weight-regular;
        size: vars.$font-size-14;
    };

    &:hover {
        transition: background-color 0.3s;
        background-color: vars.$color-secondary;
    }
}